---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&lat=40.7128&lon=-74.006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1741208400,"main":{"temp":51.62,"feels_like":50.23,"temp_min":48.61,"temp_max":51.62,"pressure":1005,"sea_level":1005,"grnd_level":1000,"humidity":80,"temp_kf":1.67},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":83},"wind":{"speed":22.12,"deg":169,"gust":50.67},"visibility":4211,"pop":1,"rain":{"3h":1.25},"sys":{"pod":"d"},"dt_txt":"2025-03-05
        21:00:00"},{"dt":1741219200,"main":{"temp":50.59,"feels_like":49.5,"temp_min":49.32,"temp_max":50.59,"pressure":1000,"sea_level":1000,"grnd_level":996,"humidity":88,"temp_kf":0.71},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"clouds":{"all":92},"wind":{"speed":25.79,"deg":168,"gust":56.77},"visibility":5525,"pop":1,"rain":{"3h":8.9},"sys":{"pod":"n"},"dt_txt":"2025-03-06
        00:00:00"},{"dt":1741230000,"main":{"temp":50.22,"feel[...]
